<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Professional Cleaning Services for London and the South East</title>
    <meta property="og:title" content="White Tiger Cleaning - Professional Commercial And Industrial Cleaning Services for London and the South East">
    <meta name="twitter:image" content="https://whitetigercleaningltd.co.uk/assets/img/logo5.png">
    <meta property="og:image" content="https://whitetigercleaningltd.co.uk/assets/img/logo5.png">
    <meta name="twitter:title" content="White Tiger Cleaning - Professional Commercial And Industrial Cleaning Services for London and the South East">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta name="description" content="We offer a bespoke professional cleaning service for industrial, commercial, and construction. Our prime focus is to continually deliver service excellence. We are safe contractor approved.">
    <meta name="twitter:description" content="We offer a bespoke professional cleaning service for industrial, commercial, and construction. Our prime focus is to continually deliver service excellence. We are safe contractor approved.">

    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="~/assets/css/bootstrap-better-nav.min.css" rel="stylesheet" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>

    <nav class="navbar navbar-dark navbar-expand-md navigation-clean main-nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <div>
                    <h1 class="text-center home-title">White Tiger Cleaning</h1>
                    <h6 class="text-center text-wrap">London &amp; South East Premier Commercial Cleaning Service</h6>
                </div>
            </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav flex-grow-1 justify-content-between ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Covid">Covid-19</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Services</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="Commercial">Commercial Cleaning</a><a class="dropdown-item" href="CarpetFloor">Carpet &amp; Floor Cleaning</a><a class="dropdown-item" href="IndustrialConstruction">Industrial &amp; Construction</a></div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Health &amp; Safety&nbsp;</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="SafeContractor">Self Contractor</a></div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Testimonials</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="Clients">Clients</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="Contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="center-item"><img class="header-img" src="assets/img/white-tiger-cleaning.png" alt="White Tiger Logo"></div>
        </div>
    </nav>


    @RenderBody()

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 item footer-services">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="Commercial">Commercial Cleaning</a></li>
                            <li><a href="CarpetFloor">Carpet &amp; Floor Cleaning</a></li>
                            <li><a href="IndustrialConstruction">Industrial &amp; Construction Cleaning</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item">
                        <h3>Contact</h3>
                        <ul>
                            <li><i class="fa fa-phone"></i>&nbsp;<span>01727 857 457</span></li>
                            <li>
                                <span>
                                    476 St Albans Road<br>
                                    Watford<br>
                                    Hertfordshire<br>
                                    WD24 6QU
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 item text"><img class="img-fluid" src="assets/img/New-Business-Excellence-Awards-Logo-w-1.webp" alt="Acquisition International Business Excellence Awards 2018"></div>
                    <div class="col-md-3"><img class="header-img center-item" src="assets/img/white-tiger-cleaning.png" alt="White Tiger Logo"></div>
                </div>
                <p class="copyright">White TIger Cleaning © 2021</p>
                <p class="copyright footer-services pt-1">Maintained by&nbsp;<a href="http://whipover.com" target="_blank">Whipover</a></p>
            </div>
        </footer>
    </div><a id="callnowbutton" href="tel:07944836218" style="display:none"><img alt="Call Now Button" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNjAgNjAiPjxwYXRoIGQ9Ik03LjEwNCAxNC4wMzJsMTUuNTg2IDEuOTg0YzAgMC0wLjAxOSAwLjUgMCAwLjk1M2MwLjAyOSAwLjc1Ni0wLjI2IDEuNTM0LTAuODA5IDIuMSBsLTQuNzQgNC43NDJjMi4zNjEgMy4zIDE2LjUgMTcuNCAxOS44IDE5LjhsMTYuODEzIDEuMTQxYzAgMCAwIDAuNCAwIDEuMSBjLTAuMDAyIDAuNDc5LTAuMTc2IDAuOTUzLTAuNTQ5IDEuMzI3bC02LjUwNCA2LjUwNWMwIDAtMTEuMjYxIDAuOTg4LTI1LjkyNS0xMy42NzRDNi4xMTcgMjUuMyA3LjEgMTQgNy4xIDE0IiBmaWxsPSIjMDA3YjAwIi8+PHBhdGggZD0iTTcuMTA0IDEzLjAzMmw2LjUwNC02LjUwNWMwLjg5Ni0wLjg5NSAyLjMzNC0wLjY3OCAzLjEgMC4zNWw1LjU2MyA3LjggYzAuNzM4IDEgMC41IDIuNTMxLTAuMzYgMy40MjZsLTQuNzQgNC43NDJjMi4zNjEgMy4zIDUuMyA2LjkgOS4xIDEwLjY5OWMzLjg0MiAzLjggNy40IDYuNyAxMC43IDkuMSBsNC43NC00Ljc0MmMwLjg5Ny0wLjg5NSAyLjQ3MS0xLjAyNiAzLjQ5OC0wLjI4OWw3LjY0NiA1LjQ1NWMxLjAyNSAwLjcgMS4zIDIuMiAwLjQgMy4xMDVsLTYuNTA0IDYuNSBjMCAwLTExLjI2MiAwLjk4OC0yNS45MjUtMTMuNjc0QzYuMTE3IDI0LjMgNy4xIDEzIDcuMSAxMyIgZmlsbD0iI2ZmZmZmZiIvPjwvc3ZnPg==" width="40"><span>Call Now</span></a>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/smart-forms.min.js"></script>
    <script src="~/assets/js/bootstrap-better-nav.min.js"></script>
    <script src="~/assets/js/script.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
