<div class="container p-4 client-container">
    <div class="client-background soft-corner">
        <div class="d-flex flex-column marketing-header soft-corner">
            <h2 class="text-center center-item">Our Clients</h2>
        </div>
    </div>
    <h3 class="text-center">Construction &amp; Industrial</h3>
    <div class="row">
        <div class="col-sm-6 col-md-3 text-center d-flex"><img class="img-fluid align-self-center client-logo align-middle" data-toggle="tooltip" data-bs-tooltip="" data-bs-hover-animate="pulse" src="assets/img/clients/kier-logo.png" title="Kier Construction" alt="Kier Construction White Tiger Client"></div>
        <div class="col-sm-6 col-md-3 text-center d-flex"><img class="img-fluid align-self-center client-logo" data-toggle="tooltip" data-bs-tooltip="" data-bs-hover-animate="pulse" src="assets/img/clients/bam.jpg" title="Bam Construction" alt="Luton Hoo White Tiger Client"></div>
        <div class="col-sm-6 col-md-3 text-center d-flex"><img class="img-fluid align-self-center client-logo" data-toggle="tooltip" data-bs-tooltip="" data-bs-hover-animate="pulse" src="assets/img/clients/interserve-300x103.png" title="Interserve Construction" alt="Redcoats Famehouse White Tiger Client"></div>
        <div class="col-sm-6 col-md-3 text-center d-flex"><img class="img-fluid align-self-center client-logo" data-toggle="tooltip" data-bs-tooltip="" data-bs-hover-animate="pulse" src="assets/img/clients/taylor-wimpey.jpg" title="Taylor Wimpey Construction" alt="Taylor Wimpey White Tiger Client"></div>
    </div>
    <h3 class="text-center">Hotels &amp; Leisure</h3>
    <div class="row">
        <div class="col-sm-6 col-md-4 text-center d-flex"><img class="img-fluid align-self-center client-logo" data-toggle="tooltip" data-bs-tooltip="" data-bs-hover-animate="pulse" src="assets/img/clients/best-western.jpg" title="Best Western Hotels" alt="Best Western White Tiger Client"></div>
        <div class="col-sm-6 col-md-4 text-center d-flex"><img class="img-fluid align-self-center client-logo" data-toggle="tooltip" data-bs-tooltip="" data-bs-hover-animate="pulse" src="assets/img/clients/Luton-Hoo3.jpg" title="Luton Hoo Hotels" alt="Bupa Cromwell Hospital White Tiger Client"></div>
        <div class="col-sm-12 col-md-4 text-center d-flex"><img class="img-fluid align-self-center client-logo" data-toggle="tooltip" data-bs-tooltip="" data-bs-hover-animate="pulse" src="assets/img/clients/redcoats.jpg" title="Redcoats Hotel and Restaurant" alt="Interserve White Tiger Client"></div>
    </div>
    <h3 class="text-center">Hospitals</h3>
    <div class="row">
        <div class="col-md-12 text-center"><img class="rounded img-fluid client-logo" data-toggle="tooltip" data-bs-tooltip="" data-bs-hover-animate="pulse" src="assets/img/clients/Bupa-Cromwell-Hospital.png" alt="Bupa Cromwell Hospital White TIger Client" title="Bupa – Cromwell Hospital London"></div>
    </div>
</div>