<div class="container">
    <div class="commercial-background soft-corner">
        <div class="d-flex flex-column marketing-header soft-corner">
            <h2 class="text-center center-item">Commercial Cleaning</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="p-3">
        <p>At <strong>White Tiger Cleaning</strong>&nbsp;we understand the needs and requirements of different markets. We believe that each client’s specific needs should be identified to ensure delivery of a successful service.</p>
        <p>We have extensive knowledge and experience in the Commercial Industry, and we know the importance to our Clients of presentation of a professional image. Our cost effective service is designed to increase your business efficiency and profitability.</p>
        <p>We believe that we can improve and maintain the levels of cleanliness and hygiene within your company. We can also reduce your expenditure through our innovative approach and maximisation of productivity.</p>
        <h4>Our specialist Commercial deep cleaning service in the industrial and commercial sectors include:</h4>
        <ul class="list-unstyled">
            <li><i class="fa fa-check"></i>&nbsp;Hospitals</li>
            <li><i class="fa fa-check"></i>&nbsp;Retail outlets</li>
            <li><i class="fa fa-check"></i>&nbsp;Hotels &amp; Leisure centres </li>
            <li><i class="fa fa-check"></i>&nbsp;Conference venues</li>
            <li><i class="fa fa-check"></i>&nbsp;Car showrooms</li>
            <li><i class="fa fa-check"></i>&nbsp;Airport terminals</li>
            <li><i class="fa fa-check"></i>&nbsp;Warehouses and distribution centres</li>
            <li><i class="fa fa-check"></i>&nbsp;Offices and financial institutions</li>
            <li><i class="fa fa-check"></i>&nbsp;Bluechip organisations</li>
        </ul>
    </div>
</div>