<div class="container">
    <div class="covid-background soft-corner">
        <div class="d-flex flex-column marketing-header soft-corner">
            <h2 class="text-center center-item">Covid-19 Deep Cleaning</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="p-3">
        <p>With the current COVID-19 Coronavirus outbreak now effecting the UK&#39;s businesses, hospitals, schools and universities,<br /><strong>White Tiger Cleaning</strong> Services have taken special measures to help tackle the epidemic and reduce its impact of further contamination. <br />
        <p>With over 30 years of cleaning expertise and specially trained staff we are able to offer specialist cleaning and decontamination solutions to disinfect&nbsp;<br>sites and help prevent&nbsp;the risk of infection.&nbsp;Our highly trained teams use specialist equipment which prevent the risk of bacterial and viral infections spreading.</p>
        <h4>Our decontamination process:</h4>
        <h5>Sanitise</h5>
        <p>At White Tiger Cleaning sanitising is the initial step we take prior to carrying out any work, we ensure that all our staff are provided with industrial proof hand sanitiser in the event of limited washroom facilities, we also safeguard all our cleaning technicians by providing full provision of personal protective equipment (PPE) and full face respirator masks to carry out all essential cleaning.</p>
        <h5>Disinfect</h5>
        <p>Disinfecting kills and destroys germs on a surface after cleaning and can further lower the risk of spreading infection of a wide range of&nbsp;<br>microorganisms including viruses (COVID-19, SARS, MERS) bacteria, fungi, and mould.</p>
        <h5>Protect</h5>
        <p>It is important to keep your environment safe. Sanitising and disinfecting the affected premises on a regular basis can go a long way in ensuring elimination to all harmful viruses and bacteria. Our highly trained team of technicians use advanced ULV fogging technology along with a powerful virucidal cleaner to disinfect all touched surfaces likely to harbour harmful viruses and pathogens. During these unprecedented times we understand that health and safety is of utmost importance which is why we provide bespoke risk assessments and methods statements to ensure each job is carried out safely and compliantly.</p>
        <h5>Our areas of expertise</h5>
        <ul class="list-unstyled">
            <li><i class="fa fa-check"></i>&nbsp;Coronavirus Deep cleaning</li>
            <li><i class="fa fa-check"></i>&nbsp;Fogging</li>
            <li><i class="fa fa-check"></i>&nbsp;Workplace Antiviral sanitisation</li>
            <li><i class="fa fa-check"></i>&nbsp;Care home cleaning</li>
            <li><i class="fa fa-check"></i>&nbsp;School cleaning</li>
            <li><i class="fa fa-check"></i>&nbsp;Hospital cleaning</li>
            <li><i class="fa fa-check"></i>&nbsp;After Builders cleaning</li>
            <li><i class="fa fa-check"></i>&nbsp;Construction site welfare cleaning</li>
            <li><i class="fa fa-check"></i>&nbsp;General welfare cleaning</li>
            <li><i class="fa fa-check"></i>&nbsp;External perimeter cleaning</li>
            <li><i class="fa fa-check"></i>&nbsp;High level cleaning</li>
            <li><i class="fa fa-check"></i>&nbsp;Specialist floor cleaning</li>
            <li><i class="fa fa-check"></i>&nbsp;Carpet cleaning</li>
            <li><i class="fa fa-check"></i>&nbsp;Pressure cleaning</li>
            <li><i class="fa fa-check"></i>&nbsp;Infection control and Environmental cleaning</li>
            <li><i class="fa fa-check"></i>&nbsp;Proactive and reactive deep cleans</li>
        </ul>
    </div>
</div>