@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-3 home-carousel">
    <div class="carousel slide" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner soft-corner">
            <div class="carousel-item active">
                <div class="w-100 first-carousel-item" alt="Slide Image">
                    <div class="d-flex flex-column marketing-header">
                        <h2 class="text-center center-item">Commercial Cleaning</h2><a class="btn btn-dark center-item" href="Commercial">Read More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="w-100 second-carousel-item" alt="Slide Image">
                    <div class="d-flex flex-column marketing-header">
                        <h2 class="text-center center-item">Professional Cleaning Services For London</h2><a class="btn btn-dark center-item" href="IndustrialCommercial">Read More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="w-100 third-carousel-item" alt="Slide Image">
                    <div class="d-flex flex-column marketing-header">
                        <h2 class="text-center center-item">Carpet &amp; Floor Cleaning</h2><a class="btn btn-dark center-item" href="CarpetFloor">Read More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="w-100 fourth-carousel-item" alt="Slide Image">
                    <div class="d-flex flex-column marketing-header">
                        <h2 class="text-center center-item">Industrial Cleaning Services</h2><a class="btn btn-dark center-item" href="IndustrialConstruction">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
            <li data-target="#carousel-1" data-slide-to="3"></li>
        </ol>
    </div>
</div>
<div class="container text-colour p-3 home-marketing">
    <div class="row">
        <div class="col-12 col-md-9">
            <div>
                <p>At <strong>White Tiger Cleaning&nbsp;</strong>we offer a bespoke cleaning service for all of our clients and our prime focus is to continually deliver service excellence.</p>
            </div>
            <div class="marketing-section">
                <h4 class="bounce animated"><i class="fa fa-check"></i>&nbsp;Extensive Training</h4>
                <p>Our teams undergo extensive training in specialist cleaning processes and products, and operate within strict health and safety and industry regulations and legislation.</p>
            </div>
            <div class="marketing-section">
                <h4 class="bounce animated"><i class="fa fa-check"></i>&nbsp;Client Satisfaction</h4>
                <p>Our fully insured domestic and commercial cleaning services ensure our clients’ satisfaction.<br></p>
            </div>
            <div class="marketing-section">
                <h4 class="bounce animated"><i class="fa fa-check"></i>&nbsp;Second To None</h4>
                <p><strong>White Tiger Cleaning Ltd</strong>&nbsp;was founded in 2009 to provide a second to none service, with the clear aim and commitment to be the leading provider of Commercial, Industrial and Deep Cleaning Services in the UK.</p>
            </div>
            <div class="marketing-section">
                <h4 class="bounce animated"><i class="fa fa-check"></i>&nbsp;Supporting The Best Standards</h4>
                <p>We ensure that all of our employees are highly trained and qualified to carry out work to optimal standards, we are committed to meet the requirements of our clients and fulfil our aspirations to be the best in the cleaning industry.</p>
                <p>To assure we are continually providing an outstanding service to our clients, we assign a dedicated Account Manager to each of our Sites, who are on call to provide a constant level of support.</p>
            </div>
        </div>
        <div class="col-12 col-md-3 text-left">
            <h4><span><i class="fa fa-user"></i>&nbsp;Contact Us</span></h4><p>
                Address: <br>
                476 St Albans Road <br>
                Watford <br>
                Hertfordshire <br>
                WD24 6QU
            </p>
            <p>
                <i class="fa fa-phone"></i> Phone: <br>
                Office: 01727 857 457 <br>
                Mobile: 07944 836 218
            </p><img class="img-fluid" src="assets/img/New-Business-Excellence-Awards-Logo.webp" alt="Acquisition International Business Excellence Awards 2018">
        </div>
    </div>
</div>
