<div class="container">
    <div class="industrial-background soft-corner">
        <div class="d-flex flex-column marketing-header soft-corner">
            <h2 class="text-center center-item">Industrial &amp; Construction Cleaning</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="p-3">
        <h4>Industrial Cleaning</h4>
        <p><strong>White Tiger Cleaning</strong>&nbsp;play a vital role in maintaining our clients’ manufacturing facilities and production operations, often in hazardous conditions, whilst complying with Health and Safety requirements, Quality Control and Hygiene Regulations.</p>
        <h4>Construction Cleaning</h4>
        <p>At&nbsp;<strong>White Tiger Cleaning</strong>&nbsp;we are pleased to offer you a complete service to meet your Cleaning Requirements, during the building programme, with a final after-builder clean&nbsp;and a sparkle clean prior to client handover.</p>
        <p>We know the importance of Health and Safety, particularly with Construction Cleaning. We therefore heavily invest in staff training and development.<br></p>
        <div class="row ind-commercial">
            <div class="col-md-6">
                <h4>Our Industrial Cleaning Services Include:</h4>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check"></i>&nbsp;High Level Deep Cleaning</li>
                    <li><i class="fa fa-check"></i>&nbsp;Pressure Washing</li>
                    <li><i class="fa fa-check"></i>&nbsp;External Building Cleaning</li>
                </ul><img class="rounded img-fluid" src="assets/img/ind-clean.jpg" alt="Industrial Cleaning">
            </div>
            <div class="col-md-6">
                <h4>Our Construction Cleaning Services Include:</h4>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check"></i>&nbsp;Site Accommodation Cleaning</li>
                    <li><i class="fa fa-check"></i>&nbsp;Final Builders clean</li>
                    <li><i class="fa fa-check"></i>&nbsp;Sparkle Clean</li>
                </ul><img class="rounded img-fluid" src="assets/img/Clean-Construction-Site.jpg" alt="Construction Cleaning">
            </div>
        </div>
    </div>
</div>